/* Navbar */
.navbar {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #1e293b;
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-box {
    display: flex;
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.search-box button {
    padding: 8px 15px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logout-btn {
    background: #ef4444;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(16, 16, 16, 0.06);
    transition: 0.3s;
}
.add{
    background: #3b82f6;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;

}
.btn {
    padding: 6px 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.edit-btn {
    background-color: #28a745;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}




.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin: 10px 0;
    color: #64748b;
    font-size: 15px;
}

.card p {
    font-size: 26px;
    font-weight: bold;
    color: #1e293b;
}

/* Icons */
.icon {
    font-size: 24px;
}

.blue { color: #3b82f6; }
.green { color: #22c55e; }
.red { color: #ef4444; }
.purple { color: #8b5cf6; }
.orange { color: #f97316; }
.teal { color: #14b8a6; }

/* Table */
.table-section h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #1e293b;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f9fafb;
}

/* Status */
.status.active {
    color: #22c55e;
    font-weight: bold;
}

.status.inactive {
    color: #ef4444;
    font-weight: bold;
}
